<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Waiting</title>
<style type="text/css">
	.ima{ position:relative;left:30em;top:10em;}
	.txt{ position:relative;left:41.5em;top:3em;}
</style>
</head>
<body bgcolor="#fafcf5">
	
	<img class = "ima" src="{{ url_for('static', filename='images/waiting.gif') }}" width="30%"  >
	<script>
	getParams("param1")
	</script>
	<span style="font-size:18px;">   </span><span style="font-size:24px;"><meta http-equiv="refresh" content="3;URL=c.html"> </span> 
	<div class="txt">
		loading……
	</div>
</body>
</html>
